.background-image-1 {
	background-image: url(../images/puma.jpg);
	height: 100vh;
}
background-image-2 {
	background-image: url(../images/14487422_264631550604799_484667706230964224_n.jpg);
	height: 100vh;
}
background-image-3 {
	background-image: url(../images/linkin.jpg);
	height: 100vh;
}
background-image-4 {
	background-image: url(../images/GOPR0082.MP4.00_00_45_13.Still001.jpg)
}