.navbar {

}
.background-image-1 {
	background: url(../images/resized-new-heights.jpg) no-repeat 68%;
	height: 100vh;
	background-size: cover;
	padding: 85vh 0 2rem 0;
	color: #ffffff;
}
.background-image-2 {
	background: url(../images/cruising-resize.jpg) no-repeat 75%;
	height: 100vh;
	background-size: cover;
}
.thank-you{
	padding-top: 23%;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.background-image-3 {
	background: url(../images/pov-resize.jpg) no-repeat 70%;
	height: 100vh;
	background-size: cover;
}
.about-me{
	color: white;
	text-shadow: 1px 1px 2px black;
}
.background-image-4 {
	background: url(../images/volcano-surfing-resize.jpg) no-repeat 85%;
	height: 100vh;
	background-size: cover;
}

div#gallery {
	background-color: #000;
	height: auto;
}